{% layout layouts/Page/Page.liquid %}

{% block title %}
	Things by Joeri ✨
{% endblock %}

{% block main %}
	<h1>Things I made</h1>

	<ul>
		{% for thing in collections.thing %}
			<li>
				<a href="{{ thing.url }}" class="ThingPreview__link link-cover">{{ thing.data.title }}</a>
				{{ thing.data.summary }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
