@import './../../components/Logo/Logo.scss';

.Page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;

	max-width: var(--page-width);
	padding: 20px;
	margin: 0 auto;
}

.Page__header {
	grid-row: 1 / 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin-bottom: 20px;
}

.Page__main {
	grid-row: 2 / 3;
}

.Page__footer {
	grid-row: -1 / -2;
}
