<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charSet="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="/style/main.css">
		<title>{% block title %}{% endblock %}</title>
	</head>

	<body class="Page">
		<header class="Page__header">
			{% include components/Logo/Logo.html %}
		</header>

		<main class="Page__main">
			{% block main %}
				{{ content }}
			{% endblock %}
		</main>
	</body>
</html>
