@import "./../../styles/variables.scss";

.MainNavigation__menuItems {
	display: flex;
	list-style: none;
}

.MainNavigation__menuItem {
	font-family: $font-family-sans-serif;
	font-size: 0.8em;
}

.MainNavigation__link {
	display: block;

	.MainNavigation__menuItem:not(:first-child) & {
		padding-left: 10px;
	}

	.MainNavigation__menuItem:not(:last-child) & {
		padding-right: 10px;
	}
}
