@import "./reset.scss";
@import "./variables.scss";
@import "./../fonts/Charter/Charter.scss";
@import "./../fonts/Raleway/Raleway.scss";

:root {
	--color-accent-bright: #D90077;
}

* {
	box-sizing: border-box;
}

html {
	font-family: $font-family-serif;
	font-size: 18px;
	line-height: 1.45em;

	@media (min-width: 520px) {
		font-size: 3.45vw;
	}

	@media (min-width: #{$page-width}) {
		font-size: 22px;
	}
}

h1 {
	margin-bottom: 1em;
	font-family: $font-family-sans-serif;
	font-size: 1.6em;
	line-height: 1.2em;
}

p {
	margin-bottom: 1.45em;
	line-height: 1.45em;
}

a {
	color: var(--color-accent-bright)
}

.no-break {
	white-space: nowrap;
}
