.Post__title {
	margin-bottom: 0em;
}

.Post__title + .Post__meta {
	margin-top: 1.45em;
	margin-bottom: 1.45em;
}

.Post__meta {
	display: flex;
	list-style: none;
}

.Post__metaItem {
	display: flex;
}

.Post__metaItem {
	&:not(:last-child) {
		margin-right: 8px;

		&::after {
			display: inline;
			content: '·';
			margin-left: 8px;
		}
	}
}

.Post__date {
	font-style: italic;
}

.Post__tags {
	display: flex;
	list-style: none;
}

.Post__tag {
	font-size: 0.9em;
}

.Post__tag + .Post__tag {
	margin-left: 8px;
}

.Post__content {
	ul,
	ol {
		padding-left: 1em;
		margin-bottom: 1.45em;
	}
}
