@import "./../../styles/base.scss";

$page-width: 800px;

.Page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;

	max-width: 800px;
	padding: 20px;
	margin: 0 auto;
}

.Page__header {
	grid-row: 1 / 2;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Page__main {
	grid-row: 2 / 3;
}

.Page__footer {
	grid-row: -1 / -2;
}
